{% extends 'layout/_main.html' %}

{% block content %}

<main style="background-color: #282828; padding-bottom: 60px;">
	<div class="container container--page">
		<div class="row">
			<div class="col-left u-text-center">
				<div class="content-group">
					<div class="applicant content-group__item">
						<figure class="applicant__avatar">
							<img src="/img/avatar.jpg" alt="avatar">
						</figure>
						<p class="applicant__name">Nguyen xuan tuan</p>
						<p class="applicant__position">Nguyen xuan tuan</p>
					</div>
					<div class="content-group__item">
						<h2 class="content__headline headline-bt headline-bt--xl">about me</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vestibulum erat, viverra ullamcorper
							augue. Cras magna purus, cursus eu tempus rutrum, suscipit element</p>
					</div>
					<div class="content-group__item">
						<h2 class="content__headline headline-bt headline-bt--xl">social</h2>
						<div class="bars-skill bars-skill--advance">
							<p class="bars-skill__name">Nguyen XT</p>
							<div class="bars-skill__bar"></div>
						</div>
						<div class="bars-skill bars-skill--average">
							<p class="bars-skill__name">Nguyen XT</p>
							<div class="bars-skill__bar"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-right">
				<div class="content-group">
					<div class="content content-group__item">
						<h2 class="content__headline headline-bt headline-bt--xl">Nguyen Xuan Tuan</h2>
						<div class="content__block">
							<div class="content__title">
								<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
								<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
							</div>
							<ul class="list-dotted">
								<li>Nguyen</li>
								<li>Xuan</li>
								<li>Tuan</li>
							</ul>
						</div>
						<div class="content__block">
							<div class="content__title">
								<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
								<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
							</div>
							<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
								Nguyen
								xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
						</div>
						<div class="content__block">
							<div class="content__title">
								<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
								<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
							</div>
							<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
								Nguyen
								xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
						</div>
					</div>
					<div class="content content-group__item">
						<h2 class="content__headline headline-bt headline-bt--xl">Nguyen Xuan Tuan</h2>
						<div class="content__block">
							<div class="content__title">
								<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
								<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
							</div>
							<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
								Nguyen
								xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
						</div>
						<div class="content__block">
							<div class="content__title">
								<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
								<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
							</div>
							<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
								Nguyen
								xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}
