{% extends 'layout/_main.html' %}

{% block content %}
<div class="main">
	<div class="container">
		<h2 class="headline-bt headline-bt--xl">Nguyen Xuan Tuan</h2>
		<br>
		<h2 class="headline-bt headline-bt--lg">Nguyen Xuan Tuan</h2>
		<br>
		<h2 class="headline headline--lg">Nguyen Xuan Tuan</h2>
		<h2 class="headline headline--md">Nguyen Xuan Tuan</h2>
		<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan
			Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
		<br>
		<div class="bars-skill bars-skill--advance">
			<p class="bars-skill__name">Nguyen XT</p>
			<div class="bars-skill__bar"></div>
		</div>
		<div class="bars-skill bars-skill--average">
			<p class="bars-skill__name">Nguyen XT</p>
			<div class="bars-skill__bar"></div>
		</div>

		<br><br><br>
		<div class="content-group">
			<div class="content content-group__item">
				<h2 class="content__headline headline-bt headline-bt--xl">Nguyen Xuan Tuan</h2>
				<div class="content__block">
					<div class="content__title">
						<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
						<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
					</div>
					<ul class="list-dotted">
						<li>Nguyen</li>
						<li>Xuan</li>
						<li>Tuan</li>
					</ul>
				</div>
				<div class="content__block">
					<div class="content__title">
						<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
						<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
					</div>
					<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
						Nguyen
						xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
				</div>
				<div class="content__block">
					<div class="content__title">
						<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
						<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
					</div>
					<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
						Nguyen
						xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
				</div>
			</div>
			<div class="content content-group__item">
				<h2 class="content__headline headline-bt headline-bt--xl">Nguyen Xuan Tuan</h2>
				<div class="content__block">
					<div class="content__title">
						<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
						<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
					</div>
					<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
						Nguyen
						xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
				</div>
				<div class="content__block">
					<div class="content__title">
						<h3 class="headline headline--lg">Nguyen Xuan Tuan</h3>
						<h4 class="headline headline--md">Nguyen Xuan Tuan</h4>
					</div>
					<p>Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan
						Nguyen
						xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan Nguyen xuan Tuan </p>
				</div>
			</div>
		</div>

		<br><br>
		<div style="width: 250px">
			<div class="applicant">
				<figure class="applicant__avatar">
					<img src="/img/avatar.jpg" alt="avatar">
				</figure>
				<p class="applicant__name">Nguyen xuan tuan</p>
				<p class="applicant__position">Nguyen xuan tuan</p>
			</div>
		</div>

		<div class="row">
			<div class="col-left" style="background-color: red; height:200px;">
			</div>
			<div class="col-right" style="background-color: blue; height:200px;">

			</div>
		</div>
	</div>
</div>

{% endblock %}
