.headline,
.headline-bt {
	font-weight: 700;
}

.headline {
	&--lg {
		@include font--lg();
	}

	&--md {
		@include font--md();
	}
}

.headline-bt {
	text-transform: uppercase;
	color: $color-primary;
	border-bottom: 4px solid $color-primary;

	&--xl {
		@include font--xl();
		padding-bottom: 20px;
	}

	&--lg {
		@include font--lg();
		padding-bottom: 12px;
	}
}
