.row {
  display: flex;
  margin-left: -$col-gutter / 2;
  margin-right: -$col-gutter / 2;

  [class^=col] {
    padding-left: $col-gutter / 2;
    padding-right: $col-gutter / 2;
  }
}

.col-left {
  width: 370px;
}

.col-right {
  width: calc(100% - 370px);
}
