.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$col-gutter / 2;
  margin-right: -$col-gutter / 2;

  @include mediaquery--mobile() {
    margin-left: -16px;
    margin-right: -16px;
  }

  [class^='col'] {
    padding-left: $col-gutter / 2;
    padding-right: $col-gutter / 2;

    @include mediaquery--mobile() {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.col-left {
  width: 370px;
}

.col-right {
  width: calc(100% - 370px);

  @include mediaquery--mobile() {
    margin-top: 40px;
  }
}
