<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NXT Résumé</title>
  <meta name="author" content="Tuan Nguyen">
  <meta name="description" content="This résume belong to NXT">

  <meta property="og:title" content="NXT Résumé">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://wwww.ngxtuan.tk">
  <meta property="og:site_name" content="Résumé">
  <meta property="og:description" content="This résume belong to NXT">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  {% block content %}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.5/scrollreveal.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
