$font-family-base: 'Museo', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

$font-size-xxl: 48px;
$font-size-xl: 28px;
$font-size-lg: 22px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$font-size-base: $font-size-sm;
$line-height-base: 1.5;
