$container-width: 1240px !default;
$container-padding: 60px !default;

$screen-lg: 1200px !default;
$screen-md: 768px !default;
$screen-xs: 360px !default;

$col-num: 12 !default;
$col-gutter: 110px !default;
